<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asanme.teachnet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teachnet">
        <activity
            android:name=".auth_controllers.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".auth_controllers.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
       <!-- <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/> -->
        <activity
            android:name=".other.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".other.TimetableActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".other.NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".other.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home_controllers.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>